.recipes {
  margin: 10px auto;
  box-shadow: 1px 1px 1px black;
  background-color: aliceblue;
  width: fit-content;
  text-align: center;
}

ul {
  padding: 5px;
  list-style-type: none;
}

li {
  margin: 5px;
}

h1 {
  width: fit-content;
  text-align: center;
  margin: 0px auto;
}
